.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  text-decoration: none;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}


.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}

